.hero-img {
  height: 508px;
  width: 100%;
  object-fit: cover;
}

.burgerlogo-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.menu-dishes img {
  width: 207px;
  height: 121px;
  border-radius: 12px;
  object-fit: cover;
}

@media screen and (max-width: 1039px) {
  .food-text img {
    height: 60px;
    width: 60px;
  }

  .menu-dishes img {
    width: 315px;
    height: 86px;
  }
}

@media screen and (max-width: 694px) {
  .hero-img {
    height: 346px;
    width: 343px;
    border-radius: 16px;
  }

  .burgerlogo-img {
    width: 120px;
    height: 120px;
  }

  .burgerlogo-background {
    width: 160px;
    height: 160px;
  }
}
