.hero-img {
    height: 508px;
    width: 100%;
    object-fit: cover;
}

.burgerlogo-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.menu-dishes img {
    width: 207px;
    height: 121px;
    border-radius: 12px;
    object-fit: cover;
}