.basket-wrapper {
    width: 1440px;
    height: 2100px;
    flex-grow: 1;
    bottom: 0;
    top: 905px;
    position: absolute;
    display: flex;
    justify-content: end;
}

.basket {
    width: 435px;
    height: 794px;
    border-radius: 30px 0 0 30px;
    background-color: var(--basket-background-color);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 59px 0px 0px 31px;
    gap: 36px;
}

.basket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 387px;
    gap: 36px;
}