:root {
    interpolate-size: allow-keywords;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html,
body {
    overflow-x: clip;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.d-none {
    display: none;
}